softgym/cached_initial_states/*
softgym/envs/corl_cached_state_backup
data
__pycache__/
.idea
PyFlex/demo/compiler/makelinux64/.deps
PyFlex/demo/compiler/makelinux64/build
PyFlex/examples/build
PyFlex/examples/cmake-build-debug
PyFlex/bindings/cmake-build-debug
PyFlex/bindings/build
*.swp
*.swo
*.swn

PyFlex/bindings/examples/tmp
PyFlex/bindings/examples/*.avi
PyFlex/bindings/examples/*/
PyFlex/bindings/examples/*.gif

build/

tests
5_step_results
10_step_results
20_step_results
5_step_results_new
10_step_results_new
20_step_results_new
Demo_test

1_20_config_test_5
1_20_config_test_10
1_20_config_test_20
20_21_config_test_5
20_21_config_test_10
20_21_config_test_20

40-config-results

10_env_tests
10_env_tests_new
init_obs
corner_detect_results
smoothing_real_images